.navContainer {
    height: 7vh;
    position: relative;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7px;
    display: flex;
    align-items: center;
    background-color: black;
    letter-spacing: 3px;
}

.navContainer h1 {
    position: relative;
    left: 5%;
    color: aliceblue;
    cursor: pointer;
}

.navContainer h1:active {
    color: orangered;
}

span {
    position: absolute;
    left: 90%;
}

@media screen and (max-width:455px) {
    .navContainer {
        font-size: 5px;
        letter-spacing: 2px;
    }
}
