* {
    margin: 0%;
    padding: 0%;
    transition: 0.1s all;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('./bghome.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-position: 0% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.movieDiv {
    height: 80vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 17%;
    font-family: monospace;
}

#poster {
    height: 50vh;
    width: 220px;
    bottom: 35%;
    position: absolute;
    border: 3px solid white;
    border-radius: 2%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px black;
    gap: 5%;
}

#poster:hover {
    border: 2px solid red;
    border-radius: 5%;
}

.movieDiv h1 {
    position: absolute;
    bottom: 28%;
    font-size: 17px;
    letter-spacing: 3px;
    color: white;
}

.movieDiv h2 {
    position: absolute;
    bottom: 23%;
    font-size: 15px;
    letter-spacing: 2px;
}

.movieDiv p {
    height: 23vh;
    width: 50%;
    position: absolute;
    bottom: -14%;
    font-size: 12px;
    padding: 1%;
    letter-spacing: 0.5px;
    color: white;
}

.btns {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    color: rgb(0, 157, 255);
    border: 5px solid rgb(0, 157, 255);
    border-radius: 50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1237/1237848.png?w=360);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.btns:active {
    border: 2px dashed rgb(60, 255, 0);
    box-shadow: 1px 1px 25px rgb(60, 255, 0);
}

#left {
    transform: rotate(180deg);
    left: 10%;
}

#right {
    left: 85%;
}

.castButton {
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, rgb(0, 157, 255) 5%);
    border: 0;
    color: white;
    letter-spacing: 5px;
    box-shadow: 6px 0px 0px white;
    outline: transparent;
    position: absolute;
    overflow: hidden;
    bottom: -10%;
    cursor: pointer;
}

.castButton:active {
    background-image: linear-gradient(rgb(255, 0, 98), rgb(140, 0, 255));
    box-shadow: 2px 2px 25px rgb(255, 0, 98);
}

.castButton:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'CASTS';
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, rgb(0, 157, 255) 3%, rgb(0, 157, 255) 5%, rgb(0, 157, 255) 5%);
    clip-path: var(--slice-0);
}

.castButton:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .castButton:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}

.play-btn {
    width: 50px;
    height: 50px;
    background: radial-gradient(red 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 25px 3px red;
    cursor: pointer;
    bottom: -20%;
}

/* triangle */
.play-btn::after {
    content: "";
    position: absolute;
    transform: translateX(-40%) translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
}

/* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    animation: pulsate1 2s forwards infinite;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -33%;
    left: -34%;
}

#heart:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    animation: pulsate1 2s forwards infinite;
}

.play-btn:hover {
    border: 1px solid rgba(255, 255, 255, .75);
}

@keyframes pulsate1 {
    0% {
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

.screenContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backButton {
    font-size: 60px;
    color: white;
    position: absolute;
    bottom: 93%;
    cursor: pointer;
}

.castBox {
    height: 25vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(36, 36, 36);
    box-shadow: 2px 2px 25px black;
    transition: 0.5s;
    gap: 4%;
}

#castImage {
    height: 80px;
    width: 80px;
    box-shadow: 2px 2px 25px black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-family: monospace;
    color: white;
    letter-spacing: 3px;
    transition: 0.1s;
    bottom: 10%;
    border-radius: 10%;
}

#castImage h5 {
    position: absolute;
    bottom: -42%;
}

.hide {
    display: none;
}

@media screen and (max-width:1198px) {

    #poster {
        height: 50vh;
        width: 240px;
        bottom: 35%;
    }

    .movieDiv h1 {
        bottom: 28%;
    }

    .movieDiv p {
        width: 70%;
        bottom: -10%;
        font-size: 12px;
    }

    .btns {
        height: 50px;
        width: 50px;
        bottom: 60%;
        border: 2px solid rgb(0, 157, 255);
    }
}

@media screen and (max-width:831px) {
    .movieDiv p {
        font-size: 10px;
    }
}

@media screen and (max-width:579px) {

    #poster {
        height: 41vh;
        width: 200px;
        bottom: 45%;
        border-radius: 0%;
    }

    .movieDiv h1 {
        bottom: 36%;
        font-size: 16px;
    }

    .movieDiv h2 {
        bottom: 29%;
        font-size: 12px;
    }

    .movieDiv p {
        width: 65%;
        bottom: -8%;
        font-size: 10px;
    }

    .play-btn {
        width: 48px;
        height: 48px;
        bottom: -20%;
    }

    .btns {
        height: 40px;
        width: 40px;
        bottom: 38%;
        border: 2px solid rgb(0, 157, 255);
    }

    #left {
        left: 20%;
    }

    #right {
        left: 68%;
    }

    #castImage {
        height: 60px;
        width: 60px;
        font-size: 10px;
    }

    #castImage h5 {
        bottom: -50%;
    }

    .button-49 {
        width: 80px;
        height: 40px;
        font-size: 7px;
        bottom: -10%;
    }
}

@media screen and (max-width:538px) {
    .movieDiv p {
        width: 75%;
        bottom: -8%;
        font-size: 10px;
    }
}

@media screen and (max-width:439px) {
    .movieDiv p {
        width: 70%;
        bottom: -8%;
        font-size: 8px;
    }

    #castImage {
        height: 40px;
        width: 40px;
        font-size: 7px;
        letter-spacing: 2px;
        line-height: 10px;
    }

    .play-btn {
        width: 40px;
        height: 40px;
    }

    /* triangle */
    .play-btn::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #fff;
    }

    #castImage h5 {
        bottom: -80%;
    }
}